            <!--Introduction-->
      <section id="about" class="introduction scrollto">
        <div class="container">
        <div class="row">

            <div class="col">
                <div class="section-heading">
                    <h2 class="section-title">Üdvözöljük a Konyári Borászat oldalán</h2>
                        <p class="section-subtitle-rolunk">A Konyári Pincészet a Dél-Balaton talán legismertebb és legelismertebb borászata.
                            Jelenleg 38 hektáros területen gazdálkodunk, és évente körülbelül 230 ezer palackot forgalmazunk.
                            a Balatonlellétől délre található dombok (név szerint: Kishegy, Öreghegy- vagy Szárhegy,
                            Bánomhegy, Jánoshegy, Sinai-hegy) láncolatának legszebb fekvésű dűlőit forgatjuk
                            újra művelés alá. Ezek a területek mind kivételes adottságú termőhelyek, magas mésztartalmú,
                            helyenként kővel és agyaggal kevert löszös talajú, napsütötte, meleg domboldalak 150-250m
                            tengerszint feletti magasságon. A fajtaösszetételben a kékszőlő dominál, ahol a hungarikumok
                            és a világfajták mellett az elmúlt századok híres borait adó fajtaszelekcióit is szeretnénk
                            létrehozni.A Konyári Pincészet két generációs családi vállalkozásként működik,
                            két pillére a két kiváló borász, Konyári János és fia, Konyári Dániel. </p>
                </div>

            </div>
        </div>

        <div class="container">

        <div class="row">

           
                <div class="col-3" >
                    
                    <div class="icon-block-description rolunk-background">
                        <h4>Technológia</h4>
                        <p class="narrow">Pincészetünk gravitációs szőlőfeldolgozást alkalmaz. A gravity flow technológia lényege, hogy a szőlőt maximálisan kímélve, az a saját súlyánál fogva,
                        szivattyúzás nélkül megy végig a feldolgozási folyamaton. A birtok egyik ékköve az 1757-ben, Báró Majthényi György által építtetett, gyönyörű téglaboltozatú pince,
                        ahol most barrique hordókban érnek a különlegesebb Konyári borok. 
                        </p>
                        <img src="assets/images/szolofeldolgozas.jpg" class="img-fluid" alt="Technológia">
                    </div>
                </div>
              
                <div class="col-3" >
                    
                    <div class="icon-block-description rolunk-background">
                        <h4>Ültetvények</h4>
                        <p class="narrow">Hagyományos és világfajták egyaránt helyet kapnak a borkínálatunkban, a vörösök közül a cabernet sauvignon, a cabernet franc, a kékfrankos, a syrah, a malbec;
                            a fehérek közül a chardonnay, az olaszrizling, a hárslevelű, a furmint, zenit, semillon és zöldveltelini. Sőt néhány régi,
                            középkori magyar fajta kísérleti jelleggel: csomorika és gohér.
                            Az ültetvények a környék legjobb fekvéseiben találhatók.
                           </p>
                           <img src="assets/images/ultetveny.jpg" class="img-fluid" alt="Ültetvény"/>
                    </div>
                </div>
             
                <div class="col-3" >
                  
                    <div class="icon-block-description rolunk-background">
                        <h4>Díjak</h4>
                        <p class="narrow">2018 április 20-án 12. alkalommal adták át a kárpát-medencei borászok legrangosabb szakmai kitüntetését,
                         a Borászok Borásza díjat.
                         A győztes a tavaly elhunyt Konyári János lett. Konyári János volt az első Magyarországon, aki a barrique-hordós érlelést
                         alkalmazta, és az ő nevéhez fűződik
                         az a fontos tett is, hogy bizonyságát adta a kékszőlő indokolt jelenlétének a Balaton déli partján.</p>
                         <img src="assets/images/bb_konyari_760.jpg" class="img-fluid" alt="Díjátadás"/>
                    </div>
                </div>
             

            </div>

        </div>
        </div>


    </section>
    <!--End of Introduction-->
