   <!--Content Section-->
   <div id="services" class="scrollto clearfix">

        <div class="row no-padding-bottom clearfix">       
        
        <!--Content Left Side-->
        <div class="col-3">
            
            <blockquote class="testimonial text-right bigtest">
                <q>"A pincészet modern tömbjének szomszédságában található a pazar vendégház könnyed, természetes hangulatával,
                    finom eleganciájával, kellemes környezetével. <br><br>
                    Vidéki hagyományok szépen újragondolt terekben"</q>
                <footer>— /Trend Guide - Design 2011: ’Top 5 Hazai Úti cél’/</footer>
            </blockquote>

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h2 class="section-title-vendeghaz">A csalogató és marasztaló vendégház</h2>
                <p class="section-subtitle"> Konyári Pincészet borász-famíliájának talán legszebb ékköve a Konyári Vendégház.
                    A balatonlellei Kishegy tetején álló ház egyesíti magában a mediterrán hangulatot és a „dédi bútoráinak” feelingjét:
                    a természetvédelmi területen kialakított csendes lak egyszerre természetesen könnyed és finoman elegáns.
                    Az összesen három franciaágyas szobával és két közös helyiséggel rendelkező vendégházat teljes mértékben az elmerülésre találták ki.
                    A szomszédhiányból fakadó háborítatlanság, a madárcsicsergéssel vegyített napfelkeltenézős terasz és a gyümölcsfákkal-szőlővel
                    övezett kert igaz kikapcsolódást kínál a rohanó világból kikapcsolódni vágyóknak..</p>
            </div>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="assets/images/vendeghaz.jpg" alt="Vendégház"/>
        </div>

        </div>

    </div>
<!--End of Content Section-->  