      <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
      data-featherlight-filter="a">
        </aside>
 
     <!--PRODUCT START-->
     <section class="ourwines">
        <div>
          <h2>Boraink</h2>
          <p>Kínálatunkban minden ínyenc megtalálja azt ami teljessé teszi a napját.</p>
        </div>
     </section>
     <section class="product-section">
         <div class="container">
           <div class="row">
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-1.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Loliense Vörös 2016</a></h5>
                   <strong class="price">2500 Ft</strong>
                    <p>Bordeaux-i típusú házasítás: merlot és két cabernet, mint minden évben.</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-2.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Chardonnay 2018</a></h5>
                   <strong class="price">2600 Ft</strong>
                   <p>Száraz fehérbor, friss savú, élénk és nagyon vidám bor a déli partról.</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-3.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Cabernet Sauvignon 2016</a></h5>
                   <strong class="price">3200 Ft</strong>
                   <p>Másod-harmad töltésű fa hordóban volt érlelve kb 8 hónapon át.</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-4.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Fecske 2018</a></h5>
                   <strong class="price">4100 Ft</strong>
                   <p>Kirobbanóan finom gyümölcsillatokkal indít, intenzív, elegáns bor. </p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-1.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Cabernet-Syrah 2015</a></h5>
                   <strong class="price">1900 Ft</strong>
                   <p>Ásványos, érett, telt vörösbor cabernet sauvignon és syrah házasításából</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-2.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Szárhegy 2017</a></h5>
                   <strong class="price">3500 Ft</strong>
                   <p>Megdöbbentően vibráló, újvilági ízek és illatok, izgalmas aromák. </p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-3.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Páva 2012</a></h5>
                   <strong class="price">4400 Ft</strong>
                   <p>Reduktív, száraz fehérbor. Friss savú, élénk és nagyon vidám bor a déli partról.</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
               <div class="product-box">
                 <div class="frame"><a href="#"><img src="assets/images/product/product-img-4.jpg" alt=""></a></div>
                 <div class="text-box ourwines">
                   <h5><a href="#" class= "gold">Madonna 2012</a></h5>
                   <strong class="price">5000 Ft</strong>
                   <p>Mély, mégis fiatalos szín, lilás széllel, hűvös illat, medvecukor, eukaliptusz.</p>
                 </div>
               </div>
             </div>
             <div class="col-3">
                <div class="product-box">
                  <div class="frame"><a href="#"><img src="assets/images/product/product-img-4.jpg" alt=""></a></div>
                  <div class="text-box ourwines">
                    <h5><a href="#" class= "gold">Sigillum Loliense-fehér 2018</a></h5>
                    <strong class="price">2900 Ft</strong>
                    <p>Virágos, fűszeres, egreses illat fehérhúsú gyümölcsökkel, finom, zamatos, vitális.</p>
                  </div>
                </div>
              </div>
           </div>
         </div>
       </section>
       <!--PRODUCT END-->
       