  
      <section id="pricing" class="secondary-color text-center scrollto clearfix ">
        
      <!--CONTACT SECTION START-->
      <section class="contact-section">
            <div class="container">
              <div class="contact-row">
                <div class="row">
                  <div class="col-2">
                    <div class="contact-box">
                      <h2>Kapcsolat felvétel:</h2>
                      <ul>
                        <li> <img src="assets/images/contact-icon-1.png" alt="img">
                          <div class="holder">
                            <p>H-8638 Balatonlelle, Külterület, Hrsz.: 0113/7 (Kishegy)</p>
                          </div>
                        </li>
                        <li> <img src="assets/images/contact-icon-2.png" alt="img">
                          <div class="holder">
                            <p>Telefon: +36 (85) 700 037</p>
                            <p>Fax: +36 (85) 700 096</p>
                          </div>
                        </li>
                        <li> <img src="assets/images/contact-icon-3.png" alt="img">
                          <div class="holder">
                            <p><a href="mailto:">info@konyari.hu</a></p>
                          </div>
                        </li>
                        <li> <img src="assets/images/contact-icon-4.png" alt="img">
                          <div class="holder">
                            <p><a href="#">www.konyari.hu</a></p>
                          </div>
                        </li>
                      </ul>
                      <div class="text-col">
                        <p>Irodai nyitvatartás <br>
                          Hétfőtől péntekig 08:00-16:00 <br><br>
                          Borvásárlás és borkóstolás<br>
                          Hétfőtől péntekig 08:00-16:00 <br>
                          Szombat-Vasárnap.: Zárva <br>
                          Borkóstolás csak előre egyeztetett időpontban!</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="contact-form">
                      <h3>Lépjen kapcsolatba velünk!</h3>
                      <form action="#">
                        <div class="row">
                          <div class="col-md-6">
                            <input required type="text" placeholder="Neve:">
                          </div>
                          <div class="col-md-6">
                            <input required type="text" placeholder="Email címe:">
                          </div>
                          <div class="col-md-6">
                            <input required type="text" placeholder="Telefonszáma:">
                          </div>
                          <div class="col-md-6">
                            <select>
                              <option>Válasszon bort!</option>
                              <option>Vörös bor</option>
                              <option>Fehér bor</option>
                            </select>
                          </div>
                          <div class="col-md-12">
                            <textarea required cols="10" rows="10" placeholder="Megjegyzés:"></textarea>
                          </div>
                          <div class="col-md-12">
                            <input type="submit" value="Kapcsolat">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--CONTACT SECTIO END--> 